.input {
  background: #eaeaea;
  padding: 12px;

  font-family: 'Fira code', 'Fira Mono', source-code-pro, Menlo, Monaco,
  Consolas, 'Courier New', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 14px;

  &:focus-within {
    box-shadow: 0 0 0.3rem rgba(115, 255, 175, 0.34);
  }

  textarea {
    outline: none;
  }
}

